<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuovo Team</title>
 <link rel="stylesheet" href="/static/form.css">
 </head>
<body>
    <h1>Aggiungi un team</h1>
    <form th:action="@{/team}" method="POST" th:object="${team}">

        <!-- Nome del Team -->
        <div>
            Nome:
            <span>
                <input required type="text" th:field="*{name}" />
            </span>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                <!-- Messaggi di errore per il campo nome -->
            </div>
        </div>

        <!-- Anno di Fondazione -->
        <div>
            Anno:
            <span>
                <input required type="text" th:field="*{year}" />
            </span>
            <div th:if="${#fields.hasErrors('year')}" th:errors="*{year}">
                <!-- Messaggi di errore per il campo anno -->
            </div>
        </div>

        <!-- Indirizzo del Team -->
        <div>
            Indirizzo:
            <span>
                <input required type="text" th:field="*{address}" />
            </span>
            <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
                <!-- Messaggi di errore per il campo indirizzo -->
            </div>
        </div>

        <!-- Pulsante di conferma -->
        <div>
            <span>
                <button type="submit">Conferma</button>
            </span>
        </div>

    </form>
	<div class="footer-link">
	        <a th:href="@{/admin/indexAdmin}">Torna alla Home</a>
	    </div>
</body>
</html>
