<!DOCTYPE html>
<html>
  <head>
    <title>Elimina Presidente</title>
    <link rel="stylesheet" href="/css/stile.css" />
  </head>

  <body>
    <header>
      <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
    </header>

	 <title>Elimina Presidente</title>
	</head>
	<body>
	    <h1>Elimina Presidente</h1>
	    <form th:action="@{/admin/president/delete}" method="post">
	        <label for="id">Seleziona Presidente da eliminare:</label>
	        <select name="id" id="id">
	            <option th:each="president : ${presidents}" th:value="${president.id}" th:text="${president.name} + ' ' + ${president.surname}"></option>
	        </select>
	        <button type="submit">Elimina Presidente</button>
	    </form>
	    <p th:text="${messaggioErrore}" style="color:red"></p>
	    <p th:text="${messaggioSuccesso}" style="color:green"></p>
	</body>
	</html>
