<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuovo Presidente</title>
 <link rel="stylesheet" href="/static/form.css">
 </head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <h1>Aggiungi un presidente</h1>
	<div th:if="${successMessage}" th:text="${successMessage}" style="color: green;"></div>

	    <!-- Messaggio di errore -->
	    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red;"></div>
		
    <form th:action="@{/admin/president}" method="POST" th:object="${president}">
        <!-- Sezione per mostrare eventuali messaggi di errore -->
        <div>
            <span th:if="${messaggioErrore}" th:text="${messaggioErrore}">Errore</span>
        </div>

        <!-- Campo per il nome del presidente -->
        <div>
            <label>Nome:</label> 
            <span><input required type="text" th:field="*{name}" /></span>
        </div>

        <!-- Campo per il cognome del presidente -->
        <div>
            <label>Cognome:</label> 
            <span><input required type="text" th:field="*{surname}" /></span>
        </div>

        <!-- Campo per la data di nascita -->
        <div>
            <label>Data di nascita:</label> 
            <span><input type="date" th:field="*{dateOfBirth}" /></span>
        </div>

        <!-- Campo per il codice fiscale (cf) -->
        <div>
            <label>Codice Fiscale:</label>
            <span><input required type="text" th:field="*{cf}" /></span>
        </div>

        <!-- Campo per la città -->
        <div>
            <label>Citta:</label>
            <span><input required type="text" th:field="*{city}" /></span>
        </div>

        <!-- Sezione per selezionare una squadra -->
        <div>
            <label>Squadra:</label> 
            <span>
                <select required th:field="*{team.id}">
                    <option value="" disabled selected>Scegli una squadra</option>
                    <!-- Ciclo per mostrare tutte le squadre disponibili -->
                    <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                </select>
            </span>
        </div>

        <!-- Credenziali -->
        <h3>Crea le credenziali per il presidente</h3>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required="required"/>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required="required"/>
        </div>

        <button type="submit">Crea Presidente</button>
    </form>
	<div>
		   <a th:href="@{/admin/indexAdmin}">Torna alla Home</a>
		 </div>
</body>

</html>
