<!DOCTYPE html>
<html>
<head>
    <title>SiwSport - Modifica Presidente</title>
 <link rel="stylesheet" href="/static/form.css">
 </head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <h1>Modifica Presidente</h1>

    <form th:object="${president}" th:action="@{/admin/formEditPresident/{id}(id=${president.id})}" method="post">
        <div>
            <label for="name">Nome</label>
            <input type="text" id="name" th:field="*{name}" />
        </div>

        <div>
            <label for="surname">Cognome</label>
            <input type="text" id="surname" th:field="*{surname}" />
        </div>

        <div>
            <label for="cf">Codice Fiscale</label>
            <input type="text" id="cf" th:field="*{cf}" />
        </div>

        <div>
            <label for="city">Città</label>
            <input type="text" id="city" th:field="*{city}" />
        </div>

        <div>
            <button type="submit">Salva modifiche</button>
        </div>
    </form>

    <div>
        <a href="/admin/indexAdmin">Torna alla home amministratore</a>
    </div>

</body>
</html>
