<!DOCTYPE html>
<html>
  <head>
    <title>Nuovo Team</title>
    <link rel="stylesheet" href="/stile.css?version=3" />
  </head>
  <body>
    <h1>Aggiungi un team</h1>
    <form th:action="@{/team}" method="POST" th:object="${team}">
<div>
       Nome: <span><input required type="text" th:field="${team.name}"/></span>
      </div>
      <div>
        Anno: <span><input required type="text" th:field="${team.year}"/></span>
      </div>
      <div>
       Indirizzo: <span><input required type="text" th:field="${team.address}"/></span>
      </div>
      <div>
        <span><button type="submit">Conferma</button></span>
      </div>
    </form>
  </body>
</html>