<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Presidente</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body>
    <h1 th:text="${president.name}">Dettagli Presidente</h1>
    <div th:if="${president}">
        <p><strong>Nome:</strong> <span th:text="${president.name}"></span></p>
        <p><strong>Cognome:</strong> <span th:text="${president.surname}"></span></p>
        <p><strong>Codice Fiscale:</strong> <span th:text="${president.cf}"></span></p>
        <p><strong>Data di Nascita:</strong> <span th:text="${president.birthDate}"></span></p>
        <p><strong>Luogo di Nascita:</strong> <span th:text="${president.birthPlace}"></span></p>
    </div>
    <div th:unless="${president}">
        <p>Non ci sono informazioni sul presidente.</p>
    </div>
    <a href="/admin">Torna alla gestione</a>
</body>
</html>
