<!DOCTYPE html>
<html>

<head>
    <title>Dettagli Squadra</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>

    <h1>Dettagli Squadra</h1>
    <div th:if="${team}">
        <span th:text="${team.name}"></span>
        <span th:text="'(' + ${team.year} + ')'"></span>
        <span th:text="${team.address}"></span>

        <!-- Aggiungi un link per visualizzare i dettagli del presidente -->
		<h2>Dettagli Presidente</h2>
		<div th:if="${team.president}">
		    <a th:href="@{/admin/president/{id}(id=${team.president.id})}">Visualizza Presidente</a>
		</div>
		<div th:unless="${team.president}">
		    <p>Nessun presidente associato.</p>
		</div>

    <div th:unless="${team}">Non esiste</div>
    <div>
        <a th:href="@{/admin/indexAdmin}">Torna alla Home</a>
    </div>
	
</body>

</html>
