<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco Giocatori</title>
    <link rel="stylesheet" href="/css/stile.css">
</head>
<body>
    <h1>Elenco Giocatori</h1>
    <ul>
        <li th:each="player : ${players}">
            <p>
                <strong>Nome:</strong> [[${player.name}]] <br>
                <strong>Cognome:</strong> [[${player.surname}]] <br>
                <strong>Ruolo:</strong> [[${player.role}]] <br>
                <a th:href="@{/player/{id}(id=${player.id})}">Visualizza dettagli</a>
            </p>
        </li>
    </ul>
    <a href="/admin/indexPlayer">Torna all'amministrazione</a>
</body>
</html>
