<!DOCTYPE html>
<html>
<head>
    <title>Dettagli Presidente</title>
	<link rel="stylesheet" href="/static/index.css">
 </head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <h1>Dettagli Presidente</h1>

    <div th:if="${president}">
        <p><strong>Nome:</strong> <span th:text="${president.name}"></span></p>
        <p><strong>Cognome:</strong> <span th:text="${president.surname}"></span></p>
        <p><strong>Data di Nascita:</strong> <span th:text="${president.dateOfBirth}"></span></p>
        <p><strong>Codice Fiscale:</strong> <span th:text="${president.cf}"></span></p>
        <p><strong>Citta:</strong> <span th:text="${president.city}"></span></p>
        <p><strong>Squadra:</strong> 
            <span th:if="${president.team != null}" th:text="${president.team.name}"></span>
            <span th:if="${president.team == null}">Nessuna squadra assegnata</span>
        </p>
    </div>

    <div th:unless="${president}">
        <p>Presidente non trovato</p>
    </div>

    <a href="/admin/presidents">Torna all'elenco dei presidenti</a>
</body>
</html>
