<!DOCTYPE html>
<html>
<head>
    <title>Presidenti</title>
	<link rel="stylesheet" href="/static/index2.css">
 </head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <h1>Lista dei Presidenti</h1>
    
    <ul>
        <li th:each="president : ${presidents}">
            <a th:href="@{/admin/president/{id}(id=${president.id})}">
                <span th:text="${president.name} + ' ' + ${president.surname}"></span>
            </a>
        </li>
    </ul>

<div class="footer-link">        <a href="/admin/indexAdmin">Torna alla Home</a>
    </div>
</body>
</html>
