<!DOCTYPE html>
<html>
<head>
    <title>Seleziona Presidente da Modificare</title>
 <link rel="stylesheet" href="/static/form2.css">
 </head>
<body>
  
    <h1>Seleziona un Presidente da Modificare</h1>

    <!-- Elenco dei presidenti -->
    <ul>
        <li th:each="president : ${presidents}">
            <span th:text="${president.name} + ' ' + ${president.surname}"></span>
            <!-- Link per la modifica -->
            <a th:href="@{/admin/formEditPresident/{id}(id=${president.id})}">Modifica</a>
        </li>
    </ul>

<div class="footer-link">        <a href="/admin/indexAdmin">Torna alla home </a>
    </div>
</body>
</html>
