<!DOCTYPE html>
<html>
<head>
    <title>Seleziona Squadra da Eliminare</title>
    <link rel="stylesheet" href="/static/form2.css">
</head>
<body>
    <h1>Seleziona Squadra da Eliminare</h1>
    
    <ul>
        <li th:each="team : ${teams}">
            <span th:text="${team.name}">Nome Squadra</span>
            <a th:href="@{/admin/selectTeamToDelete/{id}(id=${team.id})}" style="color: red; text-decoration: none;">Elimina</a>
        </li>
    </ul>
    
<div class="footer-link">        <a th:href="@{/admin/indexAdmin}">Torna alla Home</a>
    </div>
</body>
</html>
