<!DOCTYPE html>
<html>
<head>
    <title>Seleziona Presidente da Eliminare</title>
 <link rel="stylesheet" href="/static/form2.css">
 </head>
<body>
    <h1>Seleziona Presidente da Eliminare</h1>
    
    <table>
        <thead>
            <tr>
                <th>Nome </th>
                <th>Cognome </th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="president : ${presidents}">
                <td th:text="${president.name}">Nome Presidente</td>
                <td th:text="${president.surname}">Cognome Presidente</td>
                <td>
                    <a th:href="@{/admin/selectPresidentToDelete/{id}(id=${president.id})}" style="color: red; text-decoration: none;">Elimina</a>
                </td>
            </tr>
        </tbody>
    </table>
<div class="footer-link">	
	   <a th:href="@{/admin/indexAdmin}">Torna alla Home</a>
		 </div>
</body>
</html>
