/* Stile generale per il corpo della pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Stile per l'intestazione */
header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}

/* Stile per i link nell'intestazione */
header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

/* Stile per il benvenuto */
header span {
    margin-right: 15px;
}

/* Stile per il contenitore del form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 0px; /* Ridotto ulteriormente per alzare la barra delle credenziali */
}

/* Stile per i titoli */
h1 {
    color: #333;
    font-family: 'Georgia', serif; /* Font diverso per i titoli */
    margin-bottom: 20px;
    position: fixed;
    top: 20px;
    width: 100%;
    text-align: center;
}

/* Stile per le etichette */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

/* Stile per i campi di input */
input[type="text"],
input[type="password"] {
    width: calc(100% - 22px); /* Allineamento delle barre */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Stile per il pulsante di login */
button {
    background-color: #333; /* Colore nero */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Verdana', sans-serif; /* Font diverso per i bottoni */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

/* Stile per il messaggio di errore */
span {
    color: red;
    display: block;
    margin-bottom: 10px;
}

/* Stile per il link "Torna alla homepage" */
div a {
    display: inline-block;
    background-color: #333; /* Colore nero */
    color: #fff;
    padding: 5px 10px; /* Ridotto per renderlo più piccolo */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-size: 15px; /* Font più piccolo */
}

div a:hover {
    background-color: #555;
}

/* Stile per il contenitore del link "Torna alla homepage" */
.footer-link {
    position: fixed;
    bottom: 40px;
    text-align: center;
    width: 100%;
}
