<!DOCTYPE html>
<html>
  <head>
    <title>Elimina Giocatore</title>
 <link rel="stylesheet" href="/static/form.css">
   </head>

  <body>
    <header>
      <div th:if="${userDetails}">
        <span th:text="${userDetails.username}"></span>
        <a href="/logout">Logout</a>
      </div>
      <div th:unless="${user}">
        <a href="/login">Login</a>
      </div>
    </header>

    <h1>Elimina Giocatore</h1>

    <div th:if="${players}">
      <form action="/admin/player/delete" method="post">
        <label for="playerId">Seleziona il giocatore da eliminare:</label>
        <select name="playerId" id="playerId">
          <option value="" disabled selected>Seleziona un giocatore</option>
          <!-- Itera sui giocatori per creare le opzioni del menu a tendina -->
          <th:block th:each="player : ${players}">
            <option th:value="${player.id}" th:text="${player.name} + ' ' + ${player.surname}"></option>
          </th:block>
        </select>
        <button type="submit">Elimina Giocatore</button>
      </form>
    </div>

    <div th:unless="${players}">
      <p>Nessun giocatore trovato.</p>
    </div>

    <!-- Messaggi di errore o successo -->
    <div th:if="${messaggioErrore}">
      <p th:text="${messaggioErrore}" style="color: red;"></p>
    </div>
    <div th:if="${messaggioSuccesso}">
      <p th:text="${messaggioSuccesso}" style="color: green;"></p>
    </div>

  </body>
</html>
