<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Giocatori</title>
	<link rel="stylesheet" href="/static/index2.css">
 </head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <h1>Lista giocatori della tua squadra</h1>

    <div th:if="${players == null || players.isEmpty()}">
        <p>Non ci sono giocatori nel sistema.</p>
    </div>

    <div th:if="${players != null && !players.isEmpty()}">
        <ul>
            <li th:each="player : ${players}">
                <a th:href="@{/president/indexPlayer/{id}(id=${player.id})}" 
                   th:text="${player.name} + ' ' + ${player.surname}"></a>
                <!-- Controllo se il team esiste -->
                <span th:if="${player.team != null}" ></span>
                <span th:if="${player.team == null}"></span>
            </li>
        </ul>
    </div>

<div class="footer-link">        <a th:href="@{/president/indexPresident}">Torna alla Home</a>
    </div>
</body>

</html>
