<!DOCTYPE html>
<html>
<head>
    <title>SiwSport - Gestione Giocatori</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <h1>Operazioni per il Presidente</h1>

    <!-- Gestione Giocatori -->
    <h2>Gestione Giocatori</h2>
    <div>
        <a href="/president/formNewPlayer">Aggiungi un nuovo giocatore</a> <!-- Link per il form di aggiunta di un nuovo giocatore -->
    </div>
    <div>
        <a href="/president/selectPlayerToEdit">Modifica un giocatore esistente</a> <!-- Link per selezionare un giocatore da modificare -->
    </div>
    <div>
        <a href="/president/selectPlayerToDelete">Elimina un giocatore esistente</a> <!-- Link per selezionare un giocatore da eliminare -->
    </div>
    <div>
        <a href="/president/indexPlayers">Visualizza tutti i giocatori</a> <!-- Link per visualizzare la lista completa dei giocatori -->
    </div>

</body>
</html>
