<!DOCTYPE html>
<html>
<head>
	<title>Team</title>
	<link rel="stylesheet" href="/static/index2.css">

 </head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	
	<h1>Team che soddisfano i requisiti</h1>
	<div th:if="${teams.isEmpty()}">Non ci sono team che soddisfano i requisiti</div>
	<ul th:if="${!teams.isEmpty()}">
		<li th:each="team : ${teams}">
			<a href="team.html" th:href="@{'/team' + '/' + ${team.id}}"
				th:text="${team.name} "></a>
		</li>
	</ul>
<div class="footer-link">    <a th:href="@{/}">Torna alla Home</a>
  </div>
</body>

</html>