<!DOCTYPE html>
<html>

<head>
	<title>
		SiwSport - Gestione Squadra
	</title>
	<link rel="stylesheet" href="/static/index.css">
 </head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<h1>Gestione Squadra</h1>
	<div>
		<a href="/admin/formNewTeam">Inserisci i dati di una squadra</a>
	</div>
	 <! -- manca il gestisci squadra -->
	<div>
		<a href="/formSearchTeam">Cerca squadra per anno</a>
	</div>
	<div>
    <a th:href="@{/}">Torna alla Home</a>
  </div>
</body>

</html>