<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SiwSport - Homepage</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <!-- Header con opzione di logout se l'utente è autenticato -->
    <header>
        <div th:if="${username != null}">
            <span>Benvenuto, <span th:text="${username}">User</span></span>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <div th:if="${username == null}">
            <a th:href="@{/login}">Login</a>
        </div>
    </header>

    <h1>Consulta</h1>
    
    <div>
        <a th:href="@{/team}">Lista Squadre</a>
    </div>
    <div>
        <a th:href="@{/formSearchTeam}">Cerca una squadra</a>
    </div>
</body>

</html>
