<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dettagli Giocatore</title>
	<link rel="stylesheet" href="/static/index.css">
 </head>

<body>
    <header>
        <div th:if="${userDetails}">
            <span th:text="${userDetails.username}"></span>
            <a href="/logout">Logout</a>
        </div>
    </header>

    <h1>Dettagli Giocatore</h1>

    <div th:if="${player}">
        <table>
            <tr>
                <th>Nome</th>
                <td th:text="${player.name}"></td>
            </tr>
            <tr>
                <th>Cognome</th>
                <td th:text="${player.surname}"></td>
            </tr>
            <tr>
                <th>Città</th>
                <td th:text="${player.city}"></td>
            </tr>
            <tr>
                <th>Data di Nascita</th>
                <td th:text="${#temporals.format(player.dateOfBirth, 'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
                <th>Ruolo</th>
                <td th:text="${player.role}"></td>
            </tr>
        </table>
    </div>

    <div th:if="${player == null}">
        <p>Giocatore non trovato.</p>
    </div>

    <div>
        <a th:href="@{/players}">Torna alla Lista Giocatori</a>
    </div>
</body>

</html>
