<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Giocatori</title>
	<link rel="stylesheet" href="/static/index.css">
 </head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:if="${userDetails == null}">
			<a href="/login">Login</a>
		</div>
	</header>

	<h1>Giocatori</h1>

	<div th:if="${players == null || players.isEmpty()}">
		<p>Non ci sono giocatori nel sistema.</p>
	</div>

	<div th:if="${players != null && !players.isEmpty()}">
		<ul>
			<li th:each="player : ${players}">
				<a th:href="@{/player/{id}(id=${player.id})}"
					th:text="${player.name} + ' ' + ${player.surname}"></a>
			</li>
		</ul>
	</div>

	<div>
		<a th:href="@{/}">Torna alla Home</a>
	</div>
</body>

</html>
