<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>President Form</title>
</head>
<body>
    <h1 th:text="${#strings.isEmpty(president.id) ? 'Create New President' : 'Edit President'}">President Form</h1>
    <form th:action="@{/presidents/save}" th:object="${president}" method="post">
        <label for="name">First Name:</label>
        <input type="text" th:field="*{name}" required/><br/>

        <label for="surname">Last Name:</label>
        <input type="text" th:field="*{surname}" required/><br/>

        <label for="cf">Fiscal Code:</label>
        <input type="text" th:field="*{cf}" required/><br/>

        <label for="dateOfBirth">Birth Date:</label>
        <input type="date" th:field="*{dateOfBirth}" required/><br/>

        <label for="city">Birth Place:</label>
        <input type="text" th:field="*{city}" required/><br/>

        <button type="submit">Save</button>
</body>
</html>
