<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Team</title>
	<link rel="stylesheet" href="/static/index.css">
 </head>
<body>
    <h1>Team</h1>

    <!-- Mostra un messaggio se la lista dei team è null o vuota -->
    <div th:if="${#lists.isEmpty(teams)}">Non ci sono team nel sistema</div>

    <!-- Lista dei team -->
    <ul>
        <li th:each="team : ${teams}">
            <!-- Crea un link per ogni team, usando l'ID del team -->
            <a th:href="@{/team/{id}(id=${team.id})}" th:text="${team.name} + ' (' + ${team.year} + ') (' + ${team.address} + ')'"></a>
        </li>
    </ul>
    <div>
    <a th:href="@{/}">Torna alla Home</a>
  </div>
</body>
</html>
