<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dettagli Squadra</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>

    <h1>Dettagli Squadra</h1>
    <div th:if="${team}">
        <h2 th:text="${team.name}"></h2>
        <p th:text="'Anno di fondazione: ' + ${team.year}"></p>
        <p th:text="'Indirizzo: ' + ${team.address}"></p>

        <!-- Mostra i dettagli del presidente -->
        <h3>Dettagli Presidente</h3>
        <div th:if="${team.president}">
            <p>Presidente: <span th:text="${team.president.name} + ' ' + ${team.president.surname}"></span></p>
        </div>
        <div th:unless="${team.president}">
            <p>Nessun presidente associato.</p>
        </div>

        <!-- Aggiungi la lista dei giocatori -->
        <h3>Giocatori della Squadra</h3>
        <div th:if="${team.players}">
            <ul>
                <li th:each="player : ${team.players}">
                    <span th:text="${player.name} + ' ' + ${player.surname} + ', ' + ${player.role}"></span>
                </li>
            </ul>
        </div>
        <div th:unless="${team.players}">
            <p>Nessun giocatore associato alla squadra.</p>
        </div>
    </div>

    <div th:unless="${team}">
        <p>Squadra non trovata.</p>
    </div>

    <div class="footer-link">        
        <a th:href="@{/}">Torna alla Home</a>
    </div>

</body>

</html>
